@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.navigation-list,
.advantages-list,
.footer-list,
.breadcrumbs,
.catalog-filter-list,
.hotel-list,
.pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-header{
  display: flex;
  width: 1060px;
  height: 70px;
  margin: 0 auto;
}
.page-logo {
  margin-right: 30px;
}
.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 345px;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 264px;
}

.navigation-link {
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
   display: block;
  padding: 20px 17px;
}

.navigation > .navigation-list:nth-child(1) {
  margin-right: 282px;
}

.navigation-user > .navigation-item:nth-child(1) .navigation-link,
.navigation-user > .navigation-item:nth-child(2) .navigation-link {
  display: block;
  padding: 0;
  min-width: 42px;
  min-height: 66px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-size: 42px 66px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/favorites.svg");
  background-repeat: no-repeat;
  background-size: 42px 66px;
}

.navigation-user .navigation-item:nth-child(3) .navigation-link {
  color: #ffffff;
  background-color: #756257;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 130px;
  height: 20px;
  padding: 9px 15px;
  margin-top: 13.72px;
  margin-bottom: 19.04px;
  margin-left: 20px;
  border-radius: 4px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.advantages-header {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
   display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 79px;
}

.advantages-header > .advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.advantages-header > .advantages-discription {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.advantages-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-item > .advantages-title,
.advantages-wrapper > .advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-title,
.advantages-number,
.advantages-description {
  margin: 0;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-wrapper,
.advantages-list > .advantages-item:nth-child(2),
.advantages-list > .advantages-item:nth-child(3),
.advantages-list > .advantages-item:nth-child(4),
.advantages-list > .advantages-item:nth-child(6),
.advantages-list > .advantages-item:nth-child(7),
.advantages-list > .advantages-item:nth-child(8) {
  display: flex;
  flex-direction: column;
}
.advantages-list > .advantages-item:nth-child(1) {
  color: #ffffff;
  background-color: #83B3D3;
   width: 1200px;
  height: 384px;
}

.advantages-wrapper {
  width: 400px;
}

.advantages-list > .advantages-item:nth-child(1) .advantages-title,
.advantages-list > .advantages-item:nth-child(5) .advantages-title,
.advantages-list > .advantages-item:nth-child(6) .advantages-title,
.advantages-list > .advantages-item:nth-child(7) .advantages-title,
.advantages-list > .advantages-item:nth-child(8) .advantages-title {
  margin-bottom: 25px;
}

.advantages-list > .advantages-item:nth-child(1) .advantages-number,
.advantages-list > .advantages-item:nth-child(5) .advantages-number,
.advantages-list > .advantages-item:nth-child(6) .advantages-number,
.advantages-list > .advantages-item:nth-child(7) .advantages-number,
.advantages-list > .advantages-item:nth-child(8) .advantages-number {
  margin-bottom: 26px;
}

.advantages-list > .advantages-item:nth-child(2) .advantages-title,
.advantages-list > .advantages-item:nth-child(3) .advantages-title,
.advantages-list > .advantages-item:nth-child(4) .advantages-title   {
  margin-bottom: 20px;
}
.advantages-list > .advantages-item:nth-child(2) {
  color: #000000;
  background-color: #83B3D31F;
  background-image: url("../images/icon-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  width: 400px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(3) {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  width: 400px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(4) {
  color: #000000;
  background-color: #83B3D31F;
  background-image: url("../images/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  width: 400px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(5) {
  color: #ffffff;
  background-color: #83B3D3;
  width: 1200px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(6) {
  color: #000000;
  background-color: #83B3D31F;
  width: 400px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(7) {
  color: #000000;
  background-color: #83B3D333;
  width: 400px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(8) {
  color: #000000;
  background-color: #83B3D31F;
  width: 400px;
  height: 384px;
}

.search {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 417px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

.search .search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 71px;
}

.search-link {
  color: #ffffff;
  background-color: #756257;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 575px;
 height: 30px;
  padding: 15px 0;
  text-align: center;
   border-radius: 10px;
}

.newsletter {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../images/index-background-bottom.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;

  height: 411px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
    margin: 0;
  margin-top: 94px;
  height: 50px;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-top: 15px;
  height: 72px;
}

.newsletter-form {
  margin-top: 26px;
  display: flex;
  justify-content: center;
}
.field {
  width: 559px;
  height: 60px;
  padding: 0;
  padding-left: 20px;
  padding-right: 19px;
  border-width: 0;
  border-radius: 10px 0px 0px 10px;
}
.newsletter-button {
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 200px;
  height: 60px;
  padding: 0;
  border-radius: 0px 10px 10px 0px;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 49px;
  margin-right: 61px;
}

.footer-link {
  display: block;
}
.footer-item:nth-child(1) .footer-link {
  background-image: url("../images/social-twitter.svg");
  background-repeat: no-repeat;
  background-size: 18px 15px;
   min-width: 18px;
  min-height: 15px;
  margin-right: 29px;

}

.footer-item:nth-child(2) .footer-link {
  background-image: url("../images/social-facebook.svg");
  background-repeat: no-repeat;
  background-size: 10px 18px;
    min-width: 10px;
  min-height: 18px;
  margin-right: 30px;
}

.footer-item:nth-child(3) .footer-link {
  background-image: url("../images/social-youtube.svg");
  background-repeat: no-repeat;
  background-size: 20px 16px;
   min-width: 20px;
  min-height: 16px;
}

.footer-contacts-address-phone {
  color: #000000;
  background-color: #ffffff;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  width: 720px;
  height: 50px;
  text-align: center;
  margin-top: 40px;
  margin-right: 53px;
}
.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  justify-content: center;
}

.htmlacademy-logo {
  margin-top: 42px;
}
.main-inner {
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
   padding-top: 35px;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 77.64px;
  font-weight: 700;
   margin: 0;
  margin-left: 71px;
}
.breadcrumbs {
  display: flex;
   margin-left: 73px;
  margin-bottom: 45px;
}
.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 20.7px;
  text-decoration: none;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
  background-image: url("../images/breadcrumbs-icon.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
   display: block;
  min-width: 12px;
  min-height: 12px;
  margin-top: 8px;
  margin-right: 26px;
}

.breadcrumbs-item:nth-child(2) .breadcrumbs-link {
  display: block;
  margin-top: 5px;
.catalog-filter {
  display: flex;
   margin-left: 71px;
  padding-bottom: 83px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 25.88px;
  font-weight: 700;
   padding-bottom: 30px;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.control-input {
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
  .catalog-filter-group:nth-child(1) {
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 167px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 98px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
}

.button-apply {
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 20.7px;
  font-weight: 700;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
}

.button-reset {
  color: #ffffff;
  background-color: #83B3D300;
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
  border: none;
}

.inner-background {
  background-color: #ffffff;
}

.find-hotel {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  line-height: 38.82px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
   margin: 0;
  margin-right: 192px;
}
}

.select-control {
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
   min-width: 287px;
  height: 48px;
  padding: 12px 127px 13px 19px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-color: #ffffff;
  align-self: center;
}

.sorting-hotel {
  display: flex;
  min-width: 1057px;
  padding-top: 44px;
  margin-left: 31px;
  margin-bottom: 53px;
}

.buttons-show-wrapper {
  display: flex;
  align-items: flex-start;

  margin-left: 81px;
}

.button-tile,
.button-slideshow,
.button-list {
  min-width: 16px;
  min-height: 14px;
  padding: 17px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-tile {
  background-color: #ffffff;
  background-image: url("../images/mode-tile.svg");
  background-repeat: no-repeat;
   background-position: center;
  background-size: 16px 14px;
   margin-right: 8px;
}

.button-slideshow {
  background-color: #ffffff;
  background-image: url("../images/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
   background-position: center;
   margin-right: 8px;
}

.button-list {
  background-color: #ffffff;
  background-image: url("../images/mode-list.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
   background-position: center;
}
.hotel-list {
   display: grid;
  grid-template-columns: repeat(3,339px);
  gap: 10px;
  margin-bottom: 34px;
  margin-left: 31px;

}

.hotel-card {
  min-height: 398px;
  padding: 20px;
}
.hotel-card-link {
  color: #000000;
  text-decoration: none;
}
.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 31.06px;
  font-weight: 700;
   margin: 0;
    margin-bottom: 16px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 133px 165px;
  grid-template-rows: repeat(3, 37px);
}

.hotel-card-price {
  margin-left: 25px;
}

.hotel-card-type,
.hotel-card-price {
  color: #000000;
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
}

.hotel-card-button {
  color: #ffffff;
  background-color: #756257;
  font-size: 16px;
  line-height: 20.7px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
   display: block;
  width: 133px;
  padding: 10px 0;
  text-align: center;
  border-radius: 4px;
}

.hotel-card-button[type="button"] {
  background-color: #83B3D3;
  border: none;
  margin-left: 25.05px;
  width: 140.94px;
}

.hotel-card-stars {
  display: block;
  height: 17px;
  margin-top: 26px;
}

.hotel-list .hotel-card:nth-child(1) .hotel-card-stars {
  background-image: url("../images/stars-four.svg");
  background-repeat: no-repeat;
}

.hotel-list .hotel-card:nth-child(2) .hotel-card-stars {
  background-image: url("../images/stars-three.svg");
  background-repeat: no-repeat;
}

.hotel-list .hotel-card:nth-child(3) .hotel-card-stars {
  background-image: url("../images/stars-two.svg");
  background-repeat: no-repeat;
}

.hotel-list .hotel-card:nth-child(4) .hotel-card-stars {
  background-image: url("../images/stars-two.svg");
  background-repeat: no-repeat;
}

.hotel-card-rating {
  margin-top: 16px;
  justify-self: end;
}

.hotel-card-rating {
  color: #000000;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20.7px;
  font-weight: 400;
  text-transform: uppercase;
   display: block;
  width: 160px;
  height: 18px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
}
.pagination-show-more-wrapper {
  border: 1px solid #E6E6E6;
  border-left: none;
  border-right: none;
  width: 1056px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 33px;
  margin-bottom: 30px;
}
.pagination-show-more {
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 25.88px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  display: block;
  padding: 17px 237px;
  border-radius: 4px;
  margin-left: 251px;
}

.pagination-pages-wrapper {
  display: flex;
}

.pagination {
  display: flex;
  margin-left: 32px;
  margin-right: 301px;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 25.88px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  min-height: 55px;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.select-control-hotel {
  color: #000000;
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
  margin-right: 52px;
  min-width: 175px;
  align-self: center;
}

.select-control {
  margin: 0;
  min-width: 160px;
  min-height: 48px;
}

.newsletter-inner {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 140px;
}
.newsletter-inner > .newsletter-title {
  margin-top: 90px;
  margin-bottom: 15px;
}

.newsletter-inner > .newsletter-description {
margin-bottom: 24px;
}

.inner-field {
 background-color: #F2F2F2;;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
